@import 'warnDevSection.css';
@import 'progressBarSection.css';

*, 
*::before, 
*::after {
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100%;
}
.container {
   width: 100%;
    height: 100%; 
}
.sections {
    width: 100%;
    padding: 20px;
}
form {
    display: grid;
    grid-template-columns: 100%;
}
.formGroup {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.formGroup label {
    font-size: 14px;
    font-weight: 500;
}
.formGroup input {
    width: 30%
}
.formGroup button {
    border: none;
    background: rgb(21,140,235);
    background: linear-gradient(90deg, rgba(21,140,235,1) 0%, rgba(0,168,255,1) 100%);
    border-radius: 20px;
    padding: 12px;
    font-size: 14px;
    color: white;
 }